@import url("https://fonts.googleapis.com/css?family=Francois+One&display=swap");
@import url("components/container.css");
@import url("components/button.css");
@import url("components/card.css");
@import url("components/avatar.css");
@import url("components/banner.css"); 




body {
	font-family: 'Oswald', sans-serif; 
	font-size: 18px; 
}


h1, h3 {
	font-family: 'Oswald', sans-serif; 
	font-weight: bold; 
	margin: 20px;
}

h2 {
	color: #CE233F; 
	font-family: 'Oswald', sans-serif; 
	margin: 20px;
}